extends layout

block content
  .container
    h1 About Us
    p Phasellus ut mollis ipsum. Sed in augue sollicitudin, mattis ante suscipit, feugiat libero. is velit risus, tincidunt nec nulla id, sodales luctus nibh. Cras vehicula ex quis metus tpat imperdiet. 
    ul
      li Nam rutrum efficitur ex ac blandit.
      li Aliquam pretium velit at purus maximus auctor.
      li Nullam ultricies laoreet volutpat.
    p Sed semper tempus tincidunt. Aliquam auctor finibus massa sed sodales. Donec molestie eros et felis pretium varius. Suspendisse pulvinar malesuada egestas. Pellentesque eget lorem massa.
